<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text" style="size: 2em; text-color:#48cdff">ILYH.club</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu dropdown" data-dropdown-menu>
      <li><a href="#">About</a>
        <ul class="menu" style="font-size:20px;">
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Membership</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Projects</a>
        <ul class="menu" style="font-size:20px;">
          <li><a href="#">Youth Group DB</a></li>
          <li><a href="#">Calendar</a></li>
        </ul>
      </li>
      <li><a href="//discord.gg/nYBw6v2HAH">Discord</a></li>
    </ul>
  </div>
</div>
